body {
    font-family: "Rubik", sans-serif !important;
}

.pointer {
    cursor: pointer;
}

.d-none {
    display: none;
}

.width-500 {
    width: 500px;
}

.content_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.content {
    display: flex;
    min-height: 500px;
    border-radius: 5px;

}

.start-screen-font {
    font-family: "PT Sans", sans-serif;
    font-size: 28px !important;
}

.bg-screen-card {
    width: 600px !important;
    background-image: url('img/brainbg.jpg');
    background-position: center
}

.card-body {
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px; 
}

.card-body_answers {
    display: flex;
    flex-direction: column !important;
    justify-content: space-evenly;
}

.card-text {
    text-align: center;
    font-size: 24px;
}

.navbar {
    background-color: #27355C !important;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}

.navbar-brand {
    color: white !important;
    font-weight: 400 !important;
}

.container-fluid {
    flex-direction: column;
    gap: 22px;
}

.nav_img {
    margin-top: 10px;
}

.btn {
    width: 250px;
    border: none;
    margin: 20px;
}

.btn:hover {
    background-color: #f57c50;
}

.btn:disabled {
    background-color: #f57c50;
}

.btn-primary {
    background-color: #FF4E10;
}

.btn-position-start-screen {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 25px;
}

.btn-next {
    display: flex;
    justify-content: center;
}

.answer-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.question-number {
    background-color: #fba689;
    color: white;
    font-weight: 600;
    height: 30px;
    width: 30px;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-bar {
    background-color: #fba689;
}